src/main/resources/integration/providing.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://iac.spb.ru/storager/server/integration/providing"
           targetNamespace="http://iac.spb.ru/storager/server/integration/providing"
           elementFormDefault="qualified">

    <xs:element name="getIndicatorRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tns:itemByCodeRequestStruct"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="getIndicatorResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tns:hierarchicItemResponseStruct"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="getIndicatorPageRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tns:hierarchicItemPageRequestStruct"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="getIndicatorPageResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tns:hierarchicItemPageResponseStruct"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>



    <xs:element name="createPatchRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tns:createPatchRequestStruct"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="createPatchResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tns:patchInfoStruct"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="createPatchInSandboxRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tns:createPatchRequestStruct"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="createPatchInSandboxResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tns:patchInfoStruct"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="createPatchRequestStruct" abstract="true">
        <xs:complexContent>
            <xs:extension base="tns:secureRequestStruct">
                <xs:sequence>
                    <xs:element name="comment" type="xs:string" nillable="false"/>
                    <xs:element name="points" type="tns:pointPropertiesStruct" maxOccurs="unbounded" nillable="false"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="getPatchRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tns:secureRequestStruct">
                    <xs:sequence>
                        <xs:element name="id" type="xs:integer" nillable="false"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="getPatchResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tns:patchInfoStruct"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="getPatchPageRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tns:itemPageRequestStruct">
                    <xs:sequence>
                        <xs:element name="providerTitlePattern" type="xs:string" nillable="true"/>
                        <xs:element name="createdSince" type="xs:string" nillable="true"/>
                        <xs:element name="createdUntil" type="xs:string" nillable="true"/>
                        <xs:element name="status" type="xs:string" nillable="true"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="getPatchPageResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tns:itemPageResponseStruct">
                    <xs:sequence>
                        <xs:element name="items" type="tns:patchInfoStruct" maxOccurs="unbounded" nillable="false"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="patchInfoStruct">
        <xs:sequence>
            <xs:element name="id" type="xs:integer" nillable="false"/>
            <xs:element name="comment" type="xs:string" nillable="false"/>
            <xs:element name="providerId" type="xs:integer" nillable="false"/>
            <xs:element name="createdAt" type="xs:string" nillable="false"/>
            <xs:element name="status" type="xs:string" nillable="false"/>
            <xs:element name="indicatorInfos" type="tns:patchIndicatorInfoStruct" maxOccurs="unbounded" nillable="false"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="patchIndicatorInfoStruct">
        <xs:sequence>
            <xs:element name="indicatorCode" type="xs:string" nillable="false"/>
            <xs:element name="totalPoints" type="xs:integer" nillable="false"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="pointPropertiesStruct">
        <xs:sequence>
            <xs:element name="indicatorCode" type="xs:string" nillable="false"/>
            <xs:element name="periodCode" type="xs:string" nillable="false"/>
            <xs:element name="territoryCode" type="xs:string" nillable="false"/>
            <xs:element name="date" type="xs:string" nillable="false"/>
            <xs:element name="real" type="xs:double" nillable="false"/>
            <xs:element name="plan" type="xs:double" nillable="true"/>
        </xs:sequence>
    </xs:complexType>



    <xs:element name="getPeriodsRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tns:secureRequestStruct"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="getPeriodsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="items" type="tns:periodInfoStruct" maxOccurs="unbounded" nillable="false"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="periodInfoStruct">
        <xs:sequence>
            <xs:element name="code" type="xs:string" nillable="false"/>
            <xs:element name="title" type="xs:string" nillable="false"/>
        </xs:sequence>
    </xs:complexType>



    <xs:element name="getProviderRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tns:secureRequestStruct"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="getProviderResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:integer" nillable="false"/>
                <xs:element name="title" type="xs:string" nillable="false"/>
                <xs:element name="description" type="xs:string"/>
                <xs:element name="registeredAt" type="xs:string" nillable="false"/>
                <xs:element name="grants" type="xs:string" maxOccurs="unbounded" nillable="false"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>



    <xs:element name="getTerritoryRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tns:itemByCodeRequestStruct"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="getTerritoryResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tns:hierarchicItemResponseStruct"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="getTerritoryPageRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tns:hierarchicItemPageRequestStruct"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="getTerritoryPageResponse">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tns:hierarchicItemPageResponseStruct"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>




    <xs:complexType name="hierarchicItemResponseStruct" abstract="true">
        <xs:complexContent>
            <xs:extension base="tns:hierarchicItemInfoStruct"/>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="hierarchicItemPageRequestStruct" abstract="true">
        <xs:complexContent>
            <xs:extension base="tns:itemPageRequestStruct">
                <xs:sequence>
                    <xs:element name="codePattern" type="xs:string" nillable="true"/>
                    <xs:element name="ascendantCode" type="xs:string" nillable="true"/>
                    <xs:element name="titlePattern" type="xs:string" nillable="true"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="hierarchicItemPageResponseStruct" abstract="true">
        <xs:complexContent>
            <xs:extension base="tns:itemPageResponseStruct">
                <xs:sequence>
                    <xs:element name="items" type="tns:hierarchicItemInfoStruct" maxOccurs="unbounded" nillable="false"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="hierarchicItemInfoStruct">
        <xs:sequence>
            <xs:element name="code" type="xs:string" nillable="false"/>
            <xs:element name="ascendantCode" type="xs:string" nillable="true"/>
            <xs:element name="title" type="xs:string" nillable="false"/>
            <xs:element name="description" type="xs:string" nillable="true"/>
            <xs:element name="path" type="xs:string" maxOccurs="unbounded" nillable="false"/>
            <xs:element name="terminal" type="xs:boolean" nillable="true"/>
        </xs:sequence>
    </xs:complexType>




    <xs:complexType name="itemByCodeRequestStruct" abstract="true">
        <xs:complexContent>
            <xs:extension base="tns:secureRequestStruct">
                <xs:sequence>
                    <xs:element name="code" type="xs:string" nillable="false"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="itemPageRequestStruct" abstract="true">
        <xs:complexContent>
            <xs:extension base="tns:secureRequestStruct">
                <xs:sequence>
                    <xs:element name="page" type="xs:integer" nillable="true" default="1"/>
                    <xs:element name="size" type="xs:integer" nillable="true" default="10"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="itemPageResponseStruct" abstract="true">
        <xs:sequence>
            <xs:element name="page" type="xs:integer" nillable="false"/>
            <xs:element name="total" type="xs:integer" nillable="false"/>
        </xs:sequence>
    </xs:complexType>



    <xs:complexType name="secureRequestStruct" abstract="true">
        <xs:sequence>
            <xs:element name="providerSecurityToken" type="xs:string" nillable="false"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
