src/main/resources/integration/providing.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://iac.spb.ru/storager/server/integration/providing"
           targetNamespace="http://iac.spb.ru/storager/server/integration/providing"
           elementFormDefault="qualified">

    <xs:element name="getIndicatorRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tns:secureRequestType">
                    <xs:sequence>
                        <xs:element name="code" type="xs:string" nillable="false"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="getIndicatorResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="indicator" type="tns:hierarchicInfoType" nillable="false"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getIndicatorPageRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tns:secureRequestType">
                    <xs:sequence>
                        <xs:element name="codePattern" type="xs:string" nillable="true"/>
                        <xs:element name="implicitAscendantCode" type="xs:string" nillable="true"/>
                        <xs:element name="title" type="xs:string" nillable="true"/>
                        <xs:element name="page" type="xs:integer" nillable="true"/>
                        <xs:element name="size" type="xs:integer" nillable="true"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="getIndicatorPageResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="items" type="tns:hierarchicInfoType" maxOccurs="unbounded" nillable="false"/>
                <xs:element name="page" type="xs:integer" nillable="false"/>
                <xs:element name="total" type="xs:integer" nillable="false"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createPatchRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tns:secureRequestType">
                    <xs:sequence>
                        <xs:element name="patch" type="tns:patchPropertiesType" nillable="false"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="createPatchResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="patch" type="tns:patchInfoType" nillable="false"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="createPatchInSandboxRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tns:secureRequestType">
                    <xs:sequence>
                        <xs:element name="patch" type="tns:patchPropertiesType" nillable="false"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="createPatchInSandboxResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="patch" type="tns:patchInfoType" nillable="false"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getPatchRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tns:secureRequestType">
                    <xs:sequence>
                        <xs:element name="id" type="xs:string" nillable="false"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="getPatchResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="patch" type="tns:patchInfoType" nillable="false"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getPatchPageRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tns:secureRequestType">
                    <xs:sequence>
                        <xs:element name="createdSince" type="xs:string" nillable="true"/>
                        <xs:element name="createdUntil" type="xs:string" nillable="true"/>
                        <xs:element name="status" type="xs:string" nillable="true"/>
                        <xs:element name="page" type="xs:integer" nillable="true"/>
                        <xs:element name="size" type="xs:integer" nillable="true"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="getPatchPageResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="patches" type="tns:patchInfoType" maxOccurs="unbounded" nillable="false"/>
                <xs:element name="page" type="xs:integer" nillable="false"/>
                <xs:element name="total" type="xs:integer" nillable="false"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="patchInfoType">
        <xs:sequence>
            <xs:element name="id" type="xs:integer" nillable="false"/>
            <xs:element name="comment" type="xs:string" nillable="false"/>
            <xs:element name="providerId" type="xs:integer" nillable="false"/>
            <xs:element name="createdAt" type="xs:string" nillable="false"/>
            <xs:element name="status" type="xs:string" nillable="false"/>
            <xs:element name="indicatorInfos" type="tns:patchIndicatorInfoType" maxOccurs="unbounded" nillable="false"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="patchIndicatorInfoType">
        <xs:sequence>
            <xs:element name="indicatorCode" type="xs:string" nillable="false"/>
            <xs:element name="totalPoints" type="xs:integer" nillable="false"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="patchPropertiesType">
        <xs:sequence>
            <xs:element name="comment" type="xs:string" nillable="false"/>
            <xs:element name="points" type="tns:pointPropertiesType" maxOccurs="unbounded" nillable="false"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="pointPropertiesType">
        <xs:sequence>
            <xs:element name="indicatorCode" type="xs:string" nillable="false"/>
            <xs:element name="periodCode" type="xs:string" nillable="false"/>
            <xs:element name="territoryCode" type="xs:string" nillable="false"/>
            <xs:element name="date" type="xs:string" nillable="false"/>
            <xs:element name="real" type="xs:double" nillable="false"/>
            <xs:element name="plan" type="xs:double" nillable="true"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="getPeriodsRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tns:secureRequestType"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="getPeriodsResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="periods" type="tns:periodInfoType" maxOccurs="unbounded" nillable="false"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="periodInfoType">
        <xs:sequence>
            <xs:element name="code" type="xs:string" nillable="false"/>
            <xs:element name="title" type="xs:string" nillable="false"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="getProviderRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tns:secureRequestType"/>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="getProviderResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="id" type="xs:integer" nillable="false"/>
                <xs:element name="title" type="xs:string" nillable="false"/>
                <xs:element name="description" type="xs:string"/>
                <xs:element name="registeredAt" type="xs:string" nillable="false"/>
                <xs:element name="grants" type="xs:string" maxOccurs="unbounded" nillable="false"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getTerritoryRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tns:secureRequestType">
                    <xs:sequence>
                        <xs:element name="code" type="xs:string" nillable="false"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="getTerritoryResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="territory" type="tns:hierarchicInfoType" nillable="false"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getTerritoryPageRequest">
        <xs:complexType>
            <xs:complexContent>
                <xs:extension base="tns:secureRequestType">
                    <xs:sequence>
                        <xs:element name="codePattern" type="xs:string" nillable="true"/>
                        <xs:element name="implicitAscendantCode" type="xs:string" nillable="true"/>
                        <xs:element name="title" type="xs:string" nillable="true"/>
                        <xs:element name="page" type="xs:integer" nillable="true"/>
                        <xs:element name="size" type="xs:integer" nillable="true"/>
                    </xs:sequence>
                </xs:extension>
            </xs:complexContent>
        </xs:complexType>
    </xs:element>

    <xs:element name="getTerritoryPageResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="items" type="tns:hierarchicInfoType" maxOccurs="unbounded" nillable="false"/>
                <xs:element name="page" type="xs:integer" nillable="false"/>
                <xs:element name="total" type="xs:integer" nillable="false"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="secureRequestType" abstract="true">
        <xs:sequence>
            <xs:element name="providerSecurityToken" type="xs:string" nillable="false"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="hierarchicInfoType">
        <xs:sequence>
            <xs:element name="code" type="xs:string" nillable="false"/>
            <xs:element name="ascendantCode" type="xs:string" nillable="true"/>
            <xs:element name="title" type="xs:string" nillable="false"/>
            <xs:element name="description" type="xs:string" nillable="true"/>
            <xs:element name="terminal" type="xs:boolean" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
